@import "tailwindcss";

@font-face {
  font-family: "Monasans";
  src: url(assets/fonts/monasans.woff2);
}
@font-face {
  font-family: "Modern Negra";
  src: url(assets/fonts/modernNegra.ttf);
}

@theme{
  --font-monasans:"Monasans",sans-serif;
  --font-modern-negra:"Modern Negra",sans-serif;
}
.container{
  @apply max-w-[1400px] m-auto px-5
}
body{
  font-family: "Monasans",sans-serif;

}

.linear-bg div{
    color: transparent;
    background: linear-gradient(0deg,#898989 50%,white);
    background-clip: text;
}
.masked-image{
  mask-image: url('../public/Features/mask-img.png');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size:contain;
}
.radial-bg{
  background: radial-gradient(
  circle,

  rgba(0, 0, 0, 0.65) 0%,
  #000 40%
);
}